<section class="page-intro">
  <div class="row info">
    <div class="col-md-12">
      <h3><span class="brand-name">  Rent-it</span> helps you rent tools and equipments at competitive prices</h3>
      <h3>You can also save money by renting these equipments for the period you need instead of buying them!</h3>
    </div>
  </div>
</section>
<section class="search-area">

  <div class=row>
    <div class="col-md-12">
      <h3 class="start-search-description">Start by searching for a tool</h3>
    </div>
  </div>
  <div class="row">
    <div id="gmaps-error"></div>
    <div class="col-md-12">
      <%= form_tag :tools, class: 'form-group', method: 'get' do %>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
          <%#= label_tag 'Tool name: ' %>
          <%= text_field_tag :tool , nil, placeholder: 'Name of Tool' %>
        </div>
        <div class="col-md-2">
          <%#= label_tag 'Location:' %>
          <%= text_field_tag :location, nil, placeholder: 'Location' %>
        </div>
      <!-- <div class="form-group"> -->
        <div class="col-md-2">
          <%#= label_tag 'Rent from:' %>
          <%= date_field_tag :start_date, nil, placeholder: 'Start Date' %>
        </div>
        <div class="col-md-2">
        <%#= label_tag 'To:' %>
        <%= date_field_tag :end_date, nil, placeholder: 'Return Date' %>
        </div>

        <%= hidden_field_tag :lat %>
        <%= hidden_field_tag :lng %>

        <div class="col-md-2">
        <!-- <div id="search-button"> -->
          <%= submit_tag 'Search!', class: 'btn btn-success' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</section>
<section class="how-it-works">
  <div class="row">
    <div class="col-md-3 col-md-offset-4 question">
      <h3>How Rent-it works</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="how-works-tile">
        <i class="fa fa-search fa-4x" aria-hidden="true"></i>
        <main>Search the tools you will need</main>
      </div>
    </div>
    <div class="col-md-3">
      <div class="how-works-tile">
        <i class="fa fa-wrench fa-4x" aria-hidden="true"></i>
        <main>Rent-it will find owner with the available tools and schedule the pick-up</main>
      </div>
    </div>
    <div class="col-md-3">
      <div class="how-works-tile">
        <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
        <main>
          <p>After you use them, return them to the owner and rate your experience.</p>
          <p>You will be charged only
            after returning the tools</p>
          </main>
      </div>
    </div>
  </div>
</section>

<script>
    var autocomplete;

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('location')),
            {types: []});
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            var formatted_address = place.formatted_address;
            var lng = place.geometry.location.toJSON().lng;
            var lat = place.geometry.location.toJSON().lat;


            $("input[name = location]").val(formatted_address);
            $("input[name = lng]").val(lng);
            $("input[name = lat]").val(lat);
        });
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2pWNHJAhzOEtqohWE1mD1tvTLXQfBQLI&libraries=places&callback=initAutocomplete"
        async defer></script>