
<section class="tools-index">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <div class="left-side col-md-4">
        <div class="left-side-without-results">

            <h1>Tool Search Result for <i><%= params[:tool] %></i></h1>
            <h3>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i><%= pluralize @filtered_result.count, 'item' %> found
            </h3>

            <div id="filter_bys">

                <header>Filter Result:</header>
                <div class="row">

                    <div class="col-md-6 col-xs-6 filter-category-and-distance">
                        <div class="filter_by">
                            <!--<label for="filter_by_category_name">Category: </label>-->
                            <select id="filter_by_category_name">
                                <option></option>
                                <option value="all">All</option>
                                <% @categories.each do |category| %>
                                <option value="<%= category.name %>">
                                    <%=category.name %>
                                </option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 filter-category-and-distance">
                        <div class="filter_by">

                            <!--<label for="filter_by_distance">Distance: </label>-->
                            <select id="filter_by_distance">
                                <option></option>
                                <option value="5">5 km</option>
                                <option value="10">10 km</option>
                                <option value="15">15 km</option>
                                <option value="25">25 km</option>
                                <option value="50">50 km</option>
                                <option value="100">100 km</option>
                            </select>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="search-result-list">
            <div class="row">
                <div class="col-md-12 col-xs-12 no-padding">
                    <div class="tools">
                        <% @filtered_result.each do |tool| %>
                            <div class="row each-item">
                                <!-- each tool info + photo start  -->
                                <div class="tool" data-tool-id="<%= tool.id%>">
                                    <div class="col-md-4 col-xs-4 each-item-img">
                                        <%=image_tag tool.picture.url(:med) %>
                                    </div>
                                    <!-- all right side item info start-->
                                    <div class="col-md-8 col-xs-4 each-item-details">
                                        <span class="category" style="display: none"><%= tool.category.name %></span>
                                        <div class="row">
                                            <h5><%= tool.name %></h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <i class="fa fa-usd" aria-hidden="true"></i>
                                                <%=humanized_money tool.daily_rate %> (daily)
                                            </div>
                                            <div class="col-md-6">
                                                <% if @lat && @lng %>
                                                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                                    <span class="distance">
                                                    <%= tool.distance_to([@lat, @lng]).round (2) %>
                                                    </span> km
                                                <% end %>
                                            </div>
                                        </div>
                                        <!-- itembuttons start -->
                                        <div class="col-12">
                                            <div class="row detail-and-add-to-cart-button">
                                                <div class="col-md-6">
                                                    <%=link_to 'Details', tool, target: '_blank', class: 'add-to-cart' %>
                                                </div>

                                                <div class="col-md-6">
                                                    <% if current_user %>
                                                    <%=link_to add_item_cart_path(tool_id: tool.id, start_date: params[:start_date], end_date: params[:end_date]), method: :put, class: 'add-to-cart' do %>
                                                    Add to cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    <% end %>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- itembuttons end -->
                                    </div>
                                    <!-- all right side item info end-->
                                </div>
                                <!-- each tool info + photo end -->
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12 no-padding map-image">
        <div id="map"></div>
    </div>



    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            $("#filter_by_category_name").select2({
                placeholder: "By Category",
                minimumResultsForSearch: Infinity
            });

            $("#filter_by_distance").select2({
                placeholder: "By Distance",
                minimumResultsForSearch: Infinity
            });

            var $tools = $('.tool');

            function sort_tools($sort_by_value) {
                $tools.sort(function (a, b) {
                    var an = $(a).find('.' + $sort_by_value).text();
                    var bn = $(b).find('.' + $sort_by_value).text();
                    if (an > bn) {
                        return 1;
                    }
                    if (an < bn) {
                        return -1;
                    }
                    return 0;
                });
            }

            function filter_tools_by_category($tools) {
                var category_name = $('#filter_by_category_name').val();
                if (category_name === 'all' || category_name === '') {
                    return $tools;
                } else {
                    var $filtered_tools = $tools.filter(function (index) {
                        return $($tools[index]).find('.category').text() === category_name
                    });

                    return $filtered_tools;
                }
            }

            function filter_tools_by_distance($tools) {
                var distance = $('#filter_by_distance').val();
                if (distance === 'all' || distance === '') {
                    return $tools
                } else {
                    var $filtered_tools = $tools.filter(function (index) {
                        return Number($($tools[index]).find('.distance').text()) <= Number(distance)
                    });
                    return $filtered_tools
                }
            }

            function filter_tools() {
                var category_name = $('#filter_by_category_name').val();
                var distance = $('#filter_by_distance').val();
                if (category_name === 'all') {

                    return $tools.filter(function (index) {
                        return Number($($tools[index]).find('.distance').text()) <= Number(distance)
                    });
                } else {
                    var $filtered_tools_by_distance = $tools.filter(function (index) {
                        return Number($($tools[index]).find('.distance').text()) <= Number(distance)
                    });
                    // Filter again by category
                    return $filtered_tools_by_distance.filter(function (index) {
                        return $($filtered_tools_by_distance[index]).find('.category').text() === category_name
                    });
                }
            }

            $('.filter_by').change(function () {
                $tools.hide();
                var $result = filter_tools_by_category(filter_tools_by_distance($tools));
                $result.show();
            })
        });

        function initMap() {

            const styles = [
                {
                    "featureType": "landscape",
                    "stylers": [
                        {
                            "hue": "#FFA800"
                        },
                        {
                            "saturation": 0
                        },
                        {
                            "lightness": 0
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "stylers": [
                        {
                            "hue": "#53FF00"
                        },
                        {
                            "saturation": -73
                        },
                        {
                            "lightness": 40
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "stylers": [
                        {
                            "hue": "#FBFF00"
                        },
                        {
                            "saturation": 0
                        },
                        {
                            "lightness": 0
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "stylers": [
                        {
                            "hue": "#00FFFD"
                        },
                        {
                            "saturation": 0
                        },
                        {
                            "lightness": 30
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "stylers": [
                        {
                            "hue": "#00BFFF"
                        },
                        {
                            "saturation": 6
                        },
                        {
                            "lightness": 8
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "hue": "#679714"
                        },
                        {
                            "saturation": 33.4
                        },
                        {
                            "lightness": -25.4
                        },
                        {
                            "gamma": 1
                        }
                    ]
                }
            ];

            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {lat: gon.result[0].lat, lng: gon.result[0].lng},
                styles: styles,
                streetViewControl: false,
                disableDefaultUI: true
            });

            const tools = gon.result;

            let infowindow = null;
            const iconUrl = '/marker.png'


            const pinIcon = new google.maps.MarkerImage(iconUrl, null, null, null, new google.maps.Size(30, 30));

            const user_marker = new google.maps.Marker({
                position: {
                    lat: Number(gon.coordinate.lat),
                    lng: Number(gon.coordinate.lng)
                },
                map: map
            });

            let markers = [user_marker];

            let bounds = new google.maps.LatLngBounds();

            for (let i in tools) {

                let tool = tools[i];
                let marker = new google.maps.Marker({
                    position: {
                        lat: Number(tool.lat),
                        lng: Number(tool.lng)
                    },
                    map: map
                });

                marker.tool_id = tool.id;
                markers.push(marker);
                marker.setIcon(pinIcon);

                let content = `<img src="${tool.img_url}"><ul><li>Name: ${tool.name}</li><li>Location: ${tool.street_address}</li><li>Deposit: ${tool.deposit_cents / 100}</li><li>Daily Rate: ${tool.daily_rate_cents / 100}</li><li><a href="/tools/${tool.id}" target="_blank">Details</a></li></ul>`;

                google.maps.event.addListener(marker, 'click', function () {

                    map.setZoom(15);
                    map.setCenter(marker.getPosition());

                    if (infowindow) {
                        infowindow.close();
                    }

                    infowindow = new google.maps.InfoWindow({
                        content: content
                    });


                    infowindow.open(map, marker);
                });
            }

            for (var i = 0; i < markers.length; i++) {
                bounds.extend(markers[i].getPosition());
            }

            map.fitBounds(bounds);

            //const markerCluster = new MarkerClusterer(map, markers, {imagePath: '/cluster-m'});

            $('.tool').click(function () {
                let tool_id = $(this).data("tool-id");

                let marker = null;
                for (let i = 0; i < markers.length; i++) {
                    if (markers[i].tool_id === tool_id) {
                        marker = markers[i];
                        break;
                    }
                }

                google.maps.event.trigger(marker, 'click');

            })
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC2pWNHJAhzOEtqohWE1mD1tvTLXQfBQLI&callback=initMap"></script>
</section>
