<section class="page-intro">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2><%= image_tag 'rentit-logo', size: '60x60' %><span class="brand-name">  Rent-it</span> is a website to help you rent tools and equipments at competitive prices</h2>
      <h4><u>You can make some extra money by renting out your spares tools too!</u></h4>
    </div>
  </div>
</section>
<section class="search-area">
  <h3>What are you looking for?</h3>
  <%= form_tag class: 'form-group' do %>
    <%= label_tag 'Tool name: ' %>
    <%= text_field_tag :tool %>

    <%= label_tag 'Rent from:' %>
    <%= date_field_tag :start_date %>

    <%= label_tag 'To:' %>
    <%= date_field_tag :end_date %>

    <%= label_tag 'Location:' %>
    <%= text_field_tag :location %>

    <%= submit_tag 'Search!', class: 'btn btn-success' %>
  <% end %>
</section>
<section class="popular-categories">
  <h3>Popular categories</h3>
</section>
<section class="how-it-works">
  <div class="row">
    <div class="col-md-3 col-md-offset-4">
      <h3>How it works</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="how-works-tile">
        <i class="fa fa-search fa-4x" aria-hidden="true"></i>
        <main>Search the tools you will need</main>
      </div>
    </div>
    <div class="col-md-3">
      <div class="how-works-tile">
        <i class="fa fa-wrench fa-4x" aria-hidden="true"></i>
        <main>Rent-it will find owner with the available tools and schedule the pick-up</main>
      </div>
    </div>
    <div class="col-md-3">
      <div class="how-works-tile">
        <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
        <main>After you use them, return them to the owner and rate your experience.<br> You will be charged only after returning the tools</main>
      </div>
    </div>
  </div>
  
</section>