<section class="tools-show">

  <header class="page-header">

  <!-- add link_to before @tool.category  -->
    <h1><%= @tool.category.name %> &raquo; <%= @tool.name %></h1>

  </header>

  <article class="tool-detail">

    <div class="row" >

      <div class="col-sm-6 col-12 image-table">

        <%= image_tag @tool.picture.thumb, class: 'main-img' %>

      </div>
      <div class="col-sm-6 col-12 detail-table">
        <table class="table table-default">
          <tbody>
            <tr>
              <th>Name:</th>
              <td><%= @tool.name %></td>
            </tr>
            <tr>
              <th>Description:</th>
              <td><%= @tool.description %></td>
            </tr>
            <tr>
              <th>Daily Rate:</th>
              <td><%= @tool.daily_rate %></td>
            </tr>
            <tr>
              <th>Overall Rating:</th>
              <td><%= number_with_precision(@tool.reviews.average(:rating), precision: 1)|| 'N/A'%></td>
            </tr>
            <% if logged_in? %>
              <tr>
                <th></th>
                <td>
                  <div class="pull-right">
                    <%= link_to add_item_cart_path(tool_id: @tool.id), method: :put, class: 'btn btn-default' do %>
                      Add to cart <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>




    <div class="row">
      <h3> Reviews </h3>
    </div>
    <div class="row">
      <dl id="my-style-on-review-list" class="dl-horizontal">
        <% @tool.reviews.order("created_at desc").each do |review| %>
          <% if review.id %>
            <dt>date:</dt>
            <dd><%= review.created_at.strftime("%d %b. %Y") %></dd>
            <dt>reviewer:</dt>
            <dd><%= review.rental.renter.name %></dd>
            <dt>rate:</dt>
            <dd><%= review.rating %></dd>
            <dt>comment:</dt>
            <dd><%= review.comment %></dd>

            <% if current_user && current_user.id == review.rental.renter_id %>
            <dt></dt>
            <dd><%= link_to "delete", tool_review_path(@tool, review), :method => :delete, :confirm => "Are you sure?" %></dd>
            <% end %>
          <% end %>
        <% end %>
      </dl>

    </div>

    <% if current_user && current_is_previous_renter?(@tool) %>
      <div class="row">
        <%= form_for [@tool, @tool.reviews.new] do |form| %>


          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


          <div class="form-group form-rating">
            <%= form.label :rating %>
            <%= form.select :rating, options_for_select(1..5), class: 'form-control' %>
          </div>

          <div class="form-group form-comment">
            <%= form.label :comment %>
            <%= form.text_area :comment, class: 'form-control comment_text_area' %>
          </div>

          <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
        <% end %>

      </div>
    <% elsif  !current_user %>
      <%= link_to "login to create a review", login_path %>

    <% end %>

  </article>

</section>

