<h1>Login</h1>
<%= form_for :user do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.submit 'Login', class: 'btn btn-success' %>
<% end %>
