<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rent-It!</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="login-page">

<% if !flash.empty? %>
    <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>"><%= message %></div>
    <% end %>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
    <div class="login">
      <%= form_for :user, html: {id: 'login'} do |f| %>
          <div class="form-group">
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Login', class: 'btn btn-default form-control login-botton' %>
          </div>
          <p>Not registered? <%= link_to 'Create an account', register_path, class: 'gray-text' %></p>
          <div class="text-center"><h4>OR</h4></div>
          <%= link_to "/auth/facebook", id: "sign_in" do %>
              <div class="facebook-login form-control">
                <i class="fa fa-facebook-official" aria-hidden="true"></i> Sign in with Facebook
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $('#login').validate({
            rules: {
               "user[email]": {
                   required: true,
                   email: true
               },
                "user[password]": {
                   required: true
                }
           },
            messages: {
                "user[email]": {
                    required: "Please enter your email",
                    email: "Please enter a valid email"
                },
                "user[password]": {
                    required: "Please enter your password"
                }
            }
        });
    });
</script>
</body>
</html>
