<h1>Login</h1>
<%= form_for :user do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit 'Login', class: 'btn btn-success' %>
  <p>Not registered? <%= link_to 'Click here to register', register_path %></p> 
  
  <div class="facebook-login">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  </div>
<% end %>
