<section class="orders-show">

  <% if !current_user %>
    <h2>Please Login from <a href="/login">here</a></h2>
  <%else %>
    <header class="page-header">
      <h2>Rental #<%= @rental.id %> Details</h2>
    </header>

<!--     <div class="rental-summary jumbotron">

    </div> -->
    <!-- <div class="row" > -->

      <!-- <div class="col-sm-12 col-12 detail-table rental-details"> -->
    <!--<h4>Rental Detail</h4>-->
      <div class="table-responsive">
        <h4>Email: <%= current_user.email %></h4>
        <h4>Date: <%= @rental.start_date %></h4>
        <table class="table" >
          <thead>
            <tr id="table_title_line">
              <th>Tool Image</th>
              <th>Tool Name</th>
              <th>Tool Description</th>
              <th>Tool Rental Daily Price</th>
              <th>Total Renting duration</th>
              <th>Tool Deposite</th>

            </tr>
          </thead>
          <tbody>
            <%= render @rental.rental_items %>
          </tbody>
          <tr>
            <td colspan="4"></td>
            <th>Total:</th>
            <td>
              $<%= "%.2f" % @rental.total_fee %>
            </td>
          </tr>
        </table>
      </div>
      <!-- </div> -->
    <!-- </div> -->
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  <% end %>
</section>