<tr>

  <td >
  <%= image_tag("#{rental_item.tool.picture}", :style => "max-width:200px") %>
  </td>

  <td>
  <%= link_to rental_item.tool.name, rental_item.tool %>
  </td>

  <td>
  <%= rental_item.tool.description%>
  </td>

  <td>
  <%= humanized_money_with_symbol rental_item.tool.daily_rate_cents/100.00 %>
  </td>

  <td>
  <%= (@rental.end_date - @rental.start_date).to_i%> days
  </td>

  <td>
  <%= humanized_money_with_symbol rental_item.tool.deposit_cents/100.00 %>
  </td>


</tr>
